<mat-toolbar color="primary" style="display: flex; justify-content: space-between; align-items: center;">
  <span>My To Do Application</span>
  <button mat-flat-button (click)="onLogout()">Logout</button>
</mat-toolbar>

<nav mat-tab-nav-bar backgroundColor="primary"  [tabPanel]="tabPanel"  class="responsive-tabs">
  @for (link of navLinks; track link) {
    <a mat-tab-link
      (click)="activeLink = link"
      [routerLink]="link.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"> {{ link.label }}
    </a>
  }
</nav>
<mat-tab-nav-panel #tabPanel >
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
